.navigation {
  display: grid;
  grid-template: auto auto/1fr;
  justify-items: center;
  margin-bottom: 40px;
}
@media (min-width: 735px) {
  .navigation {
    grid-template: 51px/1fr 1fr;
    justify-items: start;
  }
}
.navigation__title {
  font-family: "Unica One", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.875em;
  color: #000;
  margin: 0;
}
.navigation__container {
  display: grid;
  width: 100%;
  grid-template: auto/1fr 150px 150px 1fr;
  margin-top: 20px;
}
@media (min-width: 735px) {
  .navigation__container {
    grid-template: 51px/1fr 150px 150px;
    justify-items: stretch;
    margin: 0;
  }
}
.navigation__filter {
  grid-column: 2/3;
}
.navigation__label {
  display: block;
  text-align: center;
}
@media (min-width: 735px) {
  .navigation__label {
    text-align: left;
    padding-left: 9.67px;
  }
}
.navigation__select {
  display: block;
  width: 100%;
  background-color: transparent;
  font-weight: 700;
  padding-top: 6.67px;
  padding-bottom: 6.67px;
  padding-left: 6.67px;
  border: 1px solid #dedede;
  margin-top: 13px;
}
.navigation__select:hover {
  cursor: pointer;
}
@media (min-width: 735px) {
  .navigation__select {
    border: none;
    margin: 0;
  }
}

.products {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-auto-flow: row;
  gap: 1px;
}
@media (min-width: 735px) {
  .products {
    grid-template: 1fr auto/1fr 1fr 1fr 1fr 1fr;
  }
}

.product-card-view {
  display: none;
  position: absolute;
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 45px);
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-size: 0.75em;
  background-color: #006eff;
  color: #fff;
  z-index: 2;
}

.product-card {
  position: relative;
  background-color: #fff;
}
.product-card:hover {
  position: relative;
  cursor: pointer;
  filter: brightness(0.9);
}
.product-card__sale {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-size: 0.75em;
  background-color: #006eff;
  color: #fff;
  padding: 4px 10px;
}
.product-card__img-wrapper {
  padding: 12.5px 12.5px;
}
@media (min-width: 735px) {
  .product-card__img-wrapper {
    padding: 25px 25px;
  }
}
.product-card__img {
  width: 100%;
}
.product-card__info {
  padding: 10px 12px;
}
.product-card__name {
  font-weight: 700;
  line-height: 22px;
  color: #030303;
  text-align: center;
}
.product-card__price {
  font-size: 14px;
  line-height: 19px;
  color: #666;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h5,
h6 {
  margin: 0;
}

.page {
  min-width: 343px;
  margin: auto;
  padding: 30px 10px 40px;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #666;
  line-height: 1.375;
  background-color: #f7f7f7;
}
@media (min-width: 735px) {
  .page {
    max-width: 1180px;
  }
}

/*# sourceMappingURL=styles.css.map */
